<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="ionic/css/ionic.min.css">
		<meta charset="UTF-8">
		<title>Audit Supervisor</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
		<style>
			@-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }  @viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
			@-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }   @viewport { user-zoom: fixed ; min-zoom: 100% ; }
		</style>
		<script src="cordova.js" id="xdkJScordova_"></script>
		<script src="js/app.js"></script>
		<script src="xdk/init-dev.js"></script>

		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="css/index_main.less.css">
		<link rel="stylesheet" href="css/ios_header.css">

		<script type="application/javascript" src="ionic/js/ionic.bundle.js"></script>
		<script src="lib/jquery.min.js"></script>
        <script src="lib/jquery-ui.min.js"></script>
		<script src="lib/datepicker-pt-BR.js"></script>
		<link rel="stylesheet" href="lib/jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="css/index_main.less.css" class="main-less">
		<link rel="stylesheet" type="text/css" href="css/index_main.less.css" class="main-less">
		<link rel="stylesheet" type="text/css" href="css/index_main.less.css" class="main-less">

		<script type="application/javascript" src="js/index_init_services.js"></script>
		<script type="application/javascript" src="js/index_user_scripts.js"></script>
		<script src="js/init-app.js"></script>
		<script type="application/javascript" src="marginal/marginal-position.js"></script>
		<script type="application/javascript" src="xdk/ad/ionic_subpage.js"></script>

		<script src="js/libs/md5.min.js"></script>
		<script src="js/libs/internet_connection.js"></script>
		<script src="js/libs/moment.min.js"></script>
		<script src="js/backbutton.js"></script>

		<script src="js/auditService/login.js"></script>
		<script src="js/auditService/list_visit.js"></script>
		<script src="js/auditService/form_maker.js"></script>
		<script src="js/auditService/form_validation.js"></script>
		<script src="js/auditService/send_message.js"></script>
		<script src="js/auditService/deleteIndex.js"></script>
		<script src="js/auditService/pending.js"></script>
		<script src="js/auditService/webservice.js"></script>

	</head>

	<body ng-app="myApp" ng-controller="MainCtrl">

		<div class="upage" id="mainpage">

			<div class="upage-outer fixed-header-footer">
				<div class="upage-content ac0" id="page_17_93">

					<div class="item row center teste" style="width: 101%">
						<div class="col col-25 d-margins-col-left b">
							<font size="4">Data</font>
						</div>
						<div class="col col-50 center">
							<input id="input_date_select" class="input-calendar d-margins-col-center" type="text" placeholder="data" readonly="">
						</div>
						<div class="col col-25 center">
							<input id="icon_date_select" class="icon-calendar d-margins-col-center" type="text" readonly="">
						</div>
					</div>
                    
<!--					<button class="button button-block button-positive" onclick="logout()">Logout</button>-->
					<div id="list"></div>
                    
				</div>
				<ion-header-bar class="bar inner-element uib_w_1 bar-positive bar-header" data-uib="ionic/header" data-ver="0" align-title="center">
					<div class="buttons widget-container content-area horiz-area wrapping-col">
						<button id="btn_refresh" class="button button-positive widget uib_w_3 ion ion-refresh icon-right" data-uib="ionic/button" data-ver="0"></button>
					</div>
					<h1 class="title title-custom b">Audit Supervisor</h1>
					<div id="btn_pendente" class="hidden buttons widget-container content-area horiz-area wrapping-col">
						<button class="button button-assertive widget uib_w_3 ion ion-flag icon-right" data-uib="ionic/button" data-ver="0" onclick="pending_list()"></button>
					</div>
				</ion-header-bar>
			</div>
		</div>

		<div class="upage vertical-col left hidden background" id="page_login">

			<ion-content class="content_footer_login">
                <div class="grid grid-pad urow uib_row_8 row-height-8" data-uib="layout/row" data-ver="0">
                    <div class="col uib_col_9 col-0_12-12" data-uib="layout/col" data-ver="0">
                        <div class="widget-container content-area vertical-col">
                          <form action="javascript:void(0);" class="login-position">
                            <label class="item item-input item-inside label-transparent">
                                <span class="input-label b">Login</span>
                                <input class="input-transparent" type="text" id="input_login_login" placeholder="Login">
                            </label>
                            <span id="input_login_branco" class="hidden text-error" style="margin-left:8px;">Login em branco.</span>

                            <label class="item item-input item-inside label-transparent">
                                <span class="input-label b">Senha</span>
                                <input class="input-transparent" type="password" id="input_password_login" placeholder="Senha">
                            </label>
                            <span id="input_password_branco" class="hidden text-error" style="margin-left:8px;">Senha em branco.<br></span>
                              <br>
                            <button class="button button-block button-stable" id="btn_entrar_login">
                                Entrar
                            </button>
                        </form>  
                        </div>
                    </div>
                </div>
            </ion-content>    
            <div class="login-footer">v. 0.0.1</div>
		</div>

		<div class="upage hidden" id="page_formulario">

			<ion-content delegate-handle="mainScroll">
                
                <div id="cabecalho_form">
                    <div class="row" style="background-color: #f5f5f5">
                        <div class="col col-50 center b">
                            <font size="3">Vendedor</font>
                        </div>
                        <div class="col col-50 center b">
                            <font size="3">Último Coach</font>
                        </div>
                    </div>

                    <div class="row item center">
                        <div id="nome_vendedor" class="col col-50 center" style="top:2px">
                        </div>
                        <div id="data_ultima" class="col col-50 center" style="top:2px">
                        </div>
                    </div>
                </div>
                
				<div name="asks_form"></div>
                
			</ion-content>

			<div class="upage-outer fixed-header-footer">
				<ion-header-bar class="bar inner-element uib_w_4 bar-positive bar-header" data-uib="ionic/header" data-ver="0" align-title="center">
					<div class="buttons widget-container content-area horiz-area wrapping-col">
						<button onclick="activate_page('#mainpage')" class="button button-positive widget uib_w_3 ion ion-chevron-left icon-only" style="width:42px;" data-uib="ionic/button" data-ver="0" ng-click="scrollMainToTop()"></button>
					</div>
					<h1 id="title_form" class="title title-custom b">Formulário</h1>
					<div class="buttons widget-container content-area horiz-area wrapping-col"></div>
				</ion-header-bar>

				<ion-footer-bar class="bar inner-element uib_w_1 bar-positive bar-footer" data-uib="ionic/footer" data-ver="0">
					<div id="limparform" class="buttons widget-container content-area horiz-area wrapping-col">
						<button class="button button-positive widget uib_w_2 icon b ion ion-close icon-left" data-uib="ionic/button" data-ver="0" ng-click="scrollMainToTop()">&nbsp;Limpar</button>
					</div>
					<h1 class="title"></h1>
					<div id="finalizarform" class="buttons widget-container content-area horiz-area wrapping-col">
						<button class="button button-positive widget uib_w_3 icon b ion ion-checkmark icon-right" data-uib="ionic/button" data-ver="0" ng-click="scrollMainToTop()">Finalizar&nbsp;</button>
					</div>
				</ion-footer-bar>
			</div>
		</div>

		<div class="upage vertical-col left hidden" id="page_pendente">
            <ion-content delegate-handle="mainScroll" class="content_footer">
                <div id="lista_pendente"></div>
            </ion-content>
            
            <div class="upage-outer fixed-header-footer">
				<ion-header-bar class="bar inner-element bar-positive bar-header" data-uib="ionic/header" data-ver="0" align-title="center">
					<div class="buttons widget-container content-area horiz-area wrapping-col">
						<button onclick="activate_page('#mainpage')" class="button button-positive widget ion ion-chevron-left icon-only" style="width:42px;" data-uib="ionic/button" data-ver="0" ng-click="scrollMainToTop()"></button>
					</div>
					<h1 id="title_form" class="title title-custom b">Pendentes</h1>
					<div class="buttons widget-container content-area horiz-area wrapping-col"></div>
				</ion-header-bar>
			</div>
		</div>

	</body>

</html>